.Rproj.user
.Rhistory
.RData
1.fas
15.dnd
15.fas
15.phy
3.fas
3649seq2014-06-20.fas
Rcran.Rproj
a.fas
abcd.aln
abcd.dnd
abcd.fas
abcd.ph
abcd.phb
abcd.phy
ape_script.R
b.fas
c.fas
d.fas
densityMap.jpg
pdf
input_clustal.aln
input_clustal.dnd
input_clustal.fas
lastsave.txt
ls.R
mafftin.fas
musi.fas
Stats.doc
guidetree.dnd
test.ph
test.txt
tree.ph
treefile.nex
treefile.tre
2.fas
musi.ph
sql.R
